

<section class="slide-wrapper" ng-controller="carouselCtrl" id="dealsSection">
        <div id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item item1 active">
                    <div class="fill" style="background-color: dimgray;">
                        <div class="inner-content">
                            <div class="col-md-6">
                                <div class="carousel-img">
                                    <img src="./images/pizza1.png" alt="pizza1" class="img img-response imgSizeCrsl"/>
                                </div>
                            </div>
                            <div class="col-md-6 text-left">
                                <div class="carousel-desc">
                                    <h2>Pizza 1</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elit ipsum, scelerisque non semper eu, aliquet vel odio. Sed auctor id purus nec tristique. Donec euismod, urna vel dapibus tristique, dolor arcu ultrices lectus, nec pulvinar est turpis sit amet felis. Duis interdum purus quam, vitae cursus erat ornare at. Donec congue mi a ipsum tincidunt, imperdiet vehicula odio rutrum. Nam porta vulputate magna, id pretium lectus iaculis eu. Ut ut viverra libero.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Carousel Item 2 -->
                <div class="item item2">
                    <div class="fill" style="background-color:dimgray;">
                        <div class="inner-content">
                            <div class="col-md-6">
                                <div class="carousel-img">
                                    <img src="./images/pizza2.png" alt="pizza2" class="img img-responsive imgSizeCrsl" />
                                </div>
                            </div>
                            <div class="col-md-6 text-left">
                                <div class="carousel-desc">
                                    <h2>Pizza 2</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elit ipsum, scelerisque non semper eu, aliquet vel odio. Sed auctor id purus nec tristique. Donec euismod, urna vel dapibus tristique, dolor arcu ultrices lectus, nec pulvinar est turpis sit amet felis. Duis interdum purus quam, vitae cursus erat ornare at. Donec congue mi a ipsum tincidunt, imperdiet vehicula odio rutrum. Nam porta vulputate magna, id pretium lectus iaculis eu. Ut ut viverra libero.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Item 3 -->
                <div class="item item3">
                    <div class="fill" style="background-color:dimgray">
                        <div class="inner-content">
                            <div class="col-md-6">
                                <div class="carousel-img">
                                    <img src="./images/pizza3.png" alt="pizza3" class="img img-responsive imgSizeCrsl" />
                                </div>
                            </div>
                            <div class="col-md-6 text-left">
                                <div class="carousel-desc">
                                    <h2>Pizza 3</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elit ipsum, scelerisque non semper eu, aliquet vel odio. Sed auctor id purus nec tristique. Donec euismod, urna vel dapibus tristique, dolor arcu ultrices lectus, nec pulvinar est turpis sit amet felis. Duis interdum purus quam, vitae cursus erat ornare at. Donec congue mi a ipsum tincidunt, imperdiet vehicula odio rutrum. Nam porta vulputate magna, id pretium lectus iaculis eu. Ut ut viverra libero.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   