<header id="sticky-header" class="sticky">
    <div class="main-menu-area">
        <div class="container">
            <div class="col-md-3">
                <div class="logo">
                    <a href="#"><img src="images/logo3.png" class="img-responsive"></a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="main-menu">
                    <nav>
                        <ul class="links">
                            <li><a href="#!menu" class="cool-link">Menu</a></li>
                            <li><a href="#!deals" class="cool-link">deals</a></li>
                            <li><a href="#aboutus" class="cool-link">about us</a></li>
                            <li><a class="btn order"  href="#">Order Now</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3" >
                <div class="login" style="padding-left: 70px;">
                    <a class="btn" data-target="#loginModal" data-toggle="modal" href="#" style="background: green; color: #fff; margin: 8px; margin-top: 15px; padding: 5px"><i class="fa fa-sign-in"></i> Login</a>
                    <a class="btn" data-target="#RegisterModal" data-toggle="modal" href="#" style="background: green; color: #fff; margin: 8px; margin-top: 15px; padding: 5px"><i class="fa fa-user-plus"></i> Register</a>
                </div>
            </div>
        </div>
    </div>
</header>
