
<!-- Video Slider -->
<div class="video-slider">
    <video src="Video/pizza.mp4" controls autoplay loop muted>
    </video>
</div>
<div class="table-cell">
    <div class="container">
        <h1 class="center-text h1-home">custom Artisan style Pizzas</h1>
        <h2 class="center-text h2-home">Superfast</h2>
        <div class="center-inline">
            <a class="btn"  href="#">Order Now</a>
        </div>
    </div>
</div>

<!-- ready to order -->
<div class="ready-to-order">
    <div class="container">
        <h2>Ready to order?</h2>
        <h3>Don't be shy, get exactly what you love.</h3>
        <div class="row">
            <div class="col-md-4 section">
                <h4>30+ TOPPINGS</h4>
                <p>Feel-good ingredients, prepped fresh daily and ready to go. Mix it up. Be spontaneous. Meaty to vegan and everything in between. You got this.</p>
            </div>
            <div class="col-md-4 section">
                <h4>ONE PRICE</h4>
                <p>Whatever toppings you choose for your pizza or salad, you’ll pay one set price. That way you can get just what you want, easy – no calculator needed.</p>
            </div>
            <div class="col-md-4 section">
                <h4>SUPERFAST</h4>
                <p>We get it, your time is valuable. That’s why we make stuff assembly-line style. Once you’ve ordered, it takes just minutes before your gotta-have crave is good to go.</p>
            </div>
        </div>
        <div class="center-inline">
            <a class="btn"  href="#">see the menu</a>
        </div>
    </div>
</div>

<!-- Banner -->
<div class="parallax3">
    <div class="row">
        <div class="col-md-12">
            <img src="images/services.PNG" class="img-responsive" alt="Services Image">
        </div>
    </div>
</div>

<!-- Login -->

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal" id="loginModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content loginBox">
                        <div class="modal-header glass" style="background: url('https://images.unsplash.com/photo-1481285689591-43b93cc44811?dpr=1&auto=compress,format&fit=crop&w=1522&h=&q=80&cs=tinysrgb&crop=')">
                            <img src="https://image.flaticon.com/icons/svg/236/236831.svg" alt="pers" class="img-responsive user" style="width: 100px; margin-top:80px">
                            <h3 class="modal-title text-center">Login Here</h3>
                            <div class="modal-body">
                                <form>
                                    <div class="input form-group">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <input type="text" placeholder="Username">
                                    </div>
                                    <div class="inputBox form-group">
                                        <span><i class="fa fa-lock" aria-hidden="true"></i>
                                        </span><input type="password" placeholder="Password">
                                    </div>
                                    <input type="submit" name="submit" value="Sign In">
                                </form>
                                <a href="#">Forgot Password</a>
                                <button class="btn" id="close" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="modal" id="RegisterModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content loginBox">
                        <div class="modal-header glass" style="background: url('https://images.unsplash.com/photo-1481285689591-43b93cc44811?dpr=1&auto=compress,format&fit=crop&w=1522&h=&q=80&cs=tinysrgb&crop=')">
                            <img src="https://image.flaticon.com/icons/svg/236/236831.svg" alt="pers" class="img-responsive user" style="width: 100px;">
                            <h4 class="modal-title text-center">Register</h4>
                            <div class="modal-body">
                                <form>
                                    <div class="input form-inline">
                                        <input type="text" placeholder="First name">
                                        <input type="text" placeholder="Last Name">
                                        <input type="email" placeholder="Email">
                                    </div>
                                    <div class="inputBox form-group">
                                        <span><i class="fa fa-lock" aria-hidden="true"></i>
                                        </span><input type="password" placeholder="Password">
                                    </div>
                                    <div class="inputBox form-group">
                                        <span><i class="fa fa-lock" aria-hidden="true"></i>
                                        </span><input type="password" placeholder="confirm password">
                                    </div>
                                    <input type="submit" name="submit" value="Sign Up">
                                    <button class="btn pull-left" id="close" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
