<div class="menu container" >
    <div class="menu-list" style="height: 300px; border: 1px solid #fff">
        <div class="col-md-12">
            <table class="table table-responsive text-center" align="center">
                <tr>
                    <td>
                        <table class="table table-responsive text-center" align="center">
                            <tr>
                                <th colspan="5" class="text-center" ><span >Our Menu</span> <span style="float: right;"><input type="button" value="Create Your Own Pizza" /></span></th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td style="width: 150px;"><img src="./images/menu1.jpg" class="menuImages img-responsive" alt="Menu1" /></td>
                                <td style="width: 300px; text-align: left;">
                                    <b>Pepperoni</b><br/>
                                    Premium pepperoni, real<br/> cheese made from<br/> mozzarella and your<br/> choice of crust.
                                </td>
                                <td>Price<br/><b>$6.99</b></td>
                                <td><input type="button" value="Order It" /></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><img src="./images/menu2.jpg" class="menuImages img-responsive" alt="Menu2" /></td>
                                <td style="width: 300px; text-align: left;">
                                    <b>Cheese Pizza</b><br/>
                                    Real cheese made from<br/> mozzarella, pizza sauce<br/> and your choice of crust. 
                                </td>
                                <td>Price<br/><b>$7.99</b></td>
                                <td><input type="button" value="Order It" /></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><img src="./images/menu3.jpg" class="menuImages img-responsive" alt="Menu3" /></td>
                                <td style="width: 300px; text-align: left;">
                                    <b>Garden Fresh</b><br/>
                                    Green peppers, onions, <br/>mushrooms, black olives <br/> and Roma tomatoes 
                                </td>
                                <td>Price<br/><b>$4.99</b></td>
                                <td><input type="button" value="Order It" /></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <div style="width: 200px; height: 300px; border: 1px solid black; margin-left: 100px; margin-top: 25px;"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
